body {
	display: flex;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

.output {
	font-size: 48px;
	margin: 20px;
	margin-bottom: 40px;
}

.option {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 18px;
	margin-bottom: 5px;
}

.dark {
	background-color: #282828;
	color: #FFFFFF;
}